<h2>Create Order</h2>
<form [formGroup]="addOrderForm" (submit)="createOrder()">
  <div *ngIf="addOrderForm.hasError('duplicatedIds')">
    Do not accept duplicate product
  </div>
  <div formArrayName="products">
    <button mat-raised-button type="button" (click)="addProduct()">
      Add Product
    </button>
    <div *ngFor="let product of products.controls; let i = index">
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select id="product-{{ i }}" [formControlName]="i" required>
          <mat-option
            *ngFor="let item of productDataSource$ | async"
            value="{{ item.id }}"
          >
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="removeProduct(i)"
      >
        X
      </button>
    </div>
  </div>
  <br />
  <button
    mat-raised-button
    type="submit"
    color="primary"
    [disabled]="!addOrderForm.valid"
  >
    Submit
  </button>
</form>
