<h2>Create Order</h2>
<form [formGroup]="addOrderForm" (submit)="createOrder()">
  <mat-error *ngIf="products.hasError('duplicatedValues')">
    Do not accept duplicate product
  </mat-error>

  <div formArrayName="products">
    <button mat-raised-button type="button" (click)="addProduct()">
      Add Product
    </button>
    <div *ngFor="let product of products.controls; let i = index">
      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select id="product-{{ i }}" [formControlName]="i" required>
          <mat-option
            *ngFor="let item of productDataSource$ | async"
            value="{{ item.id }}"
          >
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="removeProduct(i)"
      >
        X
      </button>
    </div>
  </div>
  <br />
  <button
    mat-raised-button
    type="submit"
    color="primary"
    [disabled]="!addOrderForm.valid"
  >
    Submit
  </button>
</form>
<hr>

<h3>Current storage</h3>
<table mat-table [dataSource]="productDataSource$" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>
<br>

